body{
	margin: 20, auto;
	}
	.row{
		margin: auto;
    display: flex;
    max-width: 50%;
    
}
    .logo{
    	background: url(https://ayushipareek.github.io/Website/images/logo.svg) no-repeat;
		height: 40px;
		display: inline-block;
		background-size: 100px;
    	width: 150px;
    	margin-top: 200px;
    }

	h1{
			color: #151515;
			font-family: inter;
			font-size: 46px;
            font-weight: 600;
            line-height: 120%;
            padding: 0 0 0px 0;
            margin-block-end: 8px;
            margin-block-start:6px;
		}
		h2{
			color: #555555;
			font-family: inter;
			font-size: 14px;
            font-weight: 400;
            line-height: 110%;
		}
		p{
			font-size: 16px;
			color: #555555;
			line-height: 130%;
			font-family: inter;
		}
		a{
			font-weight: 400;
		    font-size: 16px;
			color: #E64203;
			font-family: inter;	 
			display: inline;
			position: relative;
			text-decoration: none;
			}
		.underline {
		  display: inline;
		  position: relative;
		  overflow: hidden;
		}
		.underline:after {
		  content: "";
		  position: absolute;
		  z-index: -1;
		  left: 0;
		  right: 100%;
		  bottom: -5px;
		  background: #E64203;
		  height: 2px;
		  transition-property: left right;
		  transition-duration: 0.3s;
		  transition-timing-function: ease-out;
		}
		.underline:hover:after,
		.underline:focus:after,
		.underline:active:after {
		  right: 0;
		}
		.column_left{
			flex: 50%;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			padding-right: 40px;
		}
		.column_right{
			margin-block-start:10px;
			flex: 50%;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;	
				}
		input[type="text"], input[type=email], input[type="password"], textarea, select {
			height: 38px;
			color: #080808;
			outline: none;
			border: none;
			display: block;
			border-radius: 5px;
			background: #F2F2F2;
			width: 50%;
		}
		.field input, .field select {
            font-size: 14px;
             float: left;
             padding-left: 16px;
         }
         .button{
         	background-color: #E64203;
         	border: none;
         	height: 38px;
         	outline: none;
         	border-radius: 5px;
         	color: #ffffff;
         	font-weight: 300;
         	padding-left: 10px;
         	padding-right: 10px;
         	font-size: 14px;
         	margin-left: 8px;
         }
         .button:hover{
         	background-color: #bf3401;
         }
         .image{ 
        max-width:40%;
        display: block;
        float: right;
        margin-top: -150px;

     }
      
       	